.header {
  display: flex;
  align-items: center;

  height: 50px;
  padding: 0 15px;

  border-bottom: 1px solid var(--main-shadow-color);
}

.header__logo {
  margin-right: 20px;
}

.header__title {
  margin: 0;

  font-size:20px;
  font-weight: 400;
}

.header__user {
  margin-left: auto;
}

.header__user,
.header__logout {
  margin-right: 30px;
}

.header__fullScreen {
  margin-right: -4px;
}
